## CSC 442 Group 6
### Authors: Harsh Patel, Minji Kang, Aaron Chao
Description:

In [6]:
# importing pandas for dataframes, cleaning, wrangling, and analysis
import pandas as pd

# Read in the two datasets
players = pd.read_csv("https://raw.githubusercontent.com/hpatel-27/DataScience_CourseProject/refs/heads/main/datasets/Players.csv")
stats = pd.read_csv("https://raw.githubusercontent.com/hpatel-27/DataScience_CourseProject/refs/heads/main/datasets/Seasons_Stats.csv")

In [3]:
# Look at the first five rows of the Players.csv
players.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [4]:
# Look at the first five rows of the Season_Stats.csv
stats.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

### Cleaning Players.csv:

In [5]:
# Remove the following columns from the Players.csv dataset: [born, birth_city, birth_state]
players = players.drop(columns=["born", "birth_city", "birth_state"])
# And update the error in the column name "collage" to "college"
players = players.rename(columns={'collage': 'college'})

# Check the updates
players.head()

,Unnamed: 0,Player,height,weight,college
0,0,Curly Armstrong,180.0,77.0,Indiana University
1,1,Cliff Barker,188.0,83.0,University of Kentucky
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame
3,3,Ed Bartels,196.0,88.0,North Carolina State University
4,4,Ralph Beard,178.0,79.0,University of Kentucky

### Cleaning Seasons_Stats.csv:

In [ ]:
# To keep this readable, I split the drop columns across multiple lines

# Drop the following columns:
# ['Team', 'Games Started', '3 Point Attempt Rate', 'Free Throw Attempt Rate', 'Offensive Rebound %', 'Defensive Rebound %', 'Total Rebound %',
# 'Assist %', 'Steal %', 'Block %', 'Turnover %', 'blanl']
stats = stats.drop(columns=['Tm', 'GS', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLk%', 'TOV%', 'blanl'])

# Drop the following columns:
# ['Offensive Win Shares', 'Defensive Win Shares', 'Win Shares Per 48 Minutes', 'blank2', 'Offensive Box +/-', 'Defensive Box +/-', 'Field Goals',
# 'Field Goals Attempted', '3 Pointers', '3 Pointers Attempted', '2 Pointers', '2 Pointers Attempted', 'Free Throws', 'Free Throws Attempted']
stats = stats.drop(columns=['OWS', 'DWS', 'WS/48', 'blank2', 'OBPM', 'DBPM', 'FG', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA'])

# Drop the following columns: ['Offensive Rebounds', 'Defensive Rebounds', 'Personal Fouls']
stats = stats.drop(columns=['ORB', 'DRB', 'PF'])